/*
========================================================================================
    nf-core/scflow Nextflow Google Cloud Platform config file
========================================================================================
    A config file for the Google Cloud Platform
----------------------------------------------------------------------------------------
*/

process {

    withLabel:process_tiny {
        machineType 'n1-standard-1' // 1 CPU 3.75GB RAM
    }
    withLabel:process_low {
        machineType 'n1-highmem-2' // 2 CPU 13GB RAM
    }
    withLabel:process_medium {
        machineType 'n2-standard-8' // 8 CPU 32GB RAM
    }
    withLabel:process_high {
        machineType 'n2-highmem-16' // 16 CPU 128GB RAM
    }
    withLabel:process_long {
        machineType 'n1-highmem-4' // 4 CPU 26GB RAM
    }
    withLabel:process_high_memory {
        cpus   = { check_max( 24 , 'cpus'    ) }
        memory = { check_max( 192.GB , 'memory'  ) }
    }
}
