profiles {
gls {
      process.executor = 'google-lifesciences'
      workDir = 'gs://scflownf/scflowtest/'
      google.region  = 'europe-west4'
      google.location = 'europe-west2'
      google.project = 'terra-scflow'
      google.lifeSciences.usePrivateAddress = true
      google.lifeSciences.bootDiskSize = 100.GB
  }
}
