//Profile config names for nf-core/configs

params {
  // Config Params
  config_profile_description = 'Imperial College London HPC Profile -- provided by nf-core/configs.'
  config_profile_contact = 'Combiz Khozoie (c.khozoie@imperial.ac.uk)'
  config_profile_url = 'http://www.github.com/combiz/scFlow'

  // Resources
  max_memory = 640.GB
  max_cpus = 32
  max_time = 168.h
}

singularity {
  enabled = true
  containerOptions = '-B /rds/,/rdsgpfs/,/rds/general/user/$USER/ephemeral/tmp/:/tmp,/rds/general/user/$USER/ephemeral/tmp/:/var/tmp,$PWD/rtmp/:/usr/local/lib/R/site-library/ --writable-tmpfs'
}

process {
  beforeScript = 'module load singularity'
  executor = 'pbspro'
  queue = 'med-bio'
}

workDir = "/rds/general/user/$USER/ephemeral/tmp"
