/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */


params {
    modules {

        'scflow_checkinputs' {
            publish_dir   = ''
            publish_files = false
        }        

        'scflow_qc' {
            publish_dir   = 'quality_control'
            publish_files = [
                'html':'../../reports/qc',
                'qc_plot_data':'',
                'qc_plots':'',
                'sce':''
            ]
            publish_by_id = true
        }

        'scflow_mergeqctables' {
            publish_dir   = 'quality_control'
            publish_files = ['tsv':'']
        }

        'scflow_merge' {
            publish_dir   = 'merged'
            publish_files = [
                'merged_report':'../reports',
                'merge_plots':'',
                'merge_summary_plots':''
            ]
        }

        'scflow_integrate' {
            publish_dir   = ''
            publish_files = false
        }

        'scflow_reducedims' {
            publish_dir   = ''
            publish_files = false
        }

        'scflow_cluster' {
            publish_dir   = ''
            publish_files = false
        }

        'scflow_reportintegrated' {
            publish_dir = 'integration'
            publish_files = ['integration_report':'../reports']
        }

        'scflow_mapcelltypes' {
            publish_dir   = 'tables'
            publish_files = [
                'celltype_mappings.tsv':'celltype_mappings'
            ]
        }

        'scflow_finalize' {
            publish_dir   = 'final'
            publish_files = [
                'final_sce':'SCE',
                'celltypes.tsv':'',
                'celltype_metrics_report':'../reports'
            ]
        }

        'scflow_dge' {
            publish_dir   = 'DGE'
            publish_files = [
                'de_table':'',
                'de_report':'../../reports/DGE',
                'de_plot':'',
                'de_plot_data':''
            ]
            publish_by_id = true
        }

        'scflow_ipa' {
            publish_dir   = 'IPA'
            publish_files = [
                'ipa':'',
                'ipa_report':'../reports/IPA'
            ]
        }

        'scflow_dirichlet' {
            publish_dir   = 'dirichlet'
            publish_files = [
                'dirichlet_report':'../reports'
            ]
        }

        'scflow_plotreddimgenes' {
            publish_dir   = 'plots'
            publish_files = [
                'reddim_gene_plots':''
            ]
        }
    }
}
