/*
 * -----------------------------------------------------------------------------
 *  Nextflow config file for scflow
 * -----------------------------------------------------------------------------
 * Defines analysis parameters for scflow
 */

params {
  /*
   * -----------------------------------------------------------------------------
   * Pipeline Input Parameters
   * -----------------------------------------------------------------------------
   */
  inputs {
    manifest = "${baseDir}/refs/Manifest.txt"
    samplesheet = "${baseDir}/refs/SampleSheet.tsv"
    ss_classes = ""
    ensembl_mappings = "${baseDir}/src/ensembl-ids/ensembl_mappings.tsv"
  }
  /*
   * -----------------------------------------------------------------------------
   * scflow - Quality Control Parameters
   * -----------------------------------------------------------------------------
   */
  QC {
    // annotate/filter parameters
    key_colname = "manifest"
    min_library_size = 300
    min_features = 100
    max_mito = 0.1
    min_ribo = 0
    max_ribo = 1
    min_counts = 2
    min_cells = 2
    drop_unmapped = 1
    drop_mito = 1
    drop_ribo = 0
  }
  /*
  * ----------------------------------------------------------------------------- 
  * scflow - Multiplet / Singlet Parameters
  * -----------------------------------------------------------------------------
  */
  singlets {
    find_singlets = 0
    singlets_method = "doubletfinder"
    vars_to_regress_out = ["nCount_RNA", "pc_mito"]
    pca_dims = 10
    var_features = 2000
    doublet_rate = 0.000
    dpk = 8
  }
  /*
   * -----------------------------------------------------------------------------
   * scflow - Dimensionality Reduction Parameters
   * -----------------------------------------------------------------------------
   */
  reddim {
    reduction_methods = ["PCA", "tSNE", "UMAP", "UMAP3D"]
    vars_to_regress_out = ["nCount_RNA", "pc_mito"]
    pca_dims = 30
    n_neighbors = 30
    n_components = 2
    init = "pca"
    metric = "euclidean"
    n_epochs = 500
    learning_rate = 1.0
    min_dist = 0.3
    spread = 1.0
    set_op_mix_ratio = 1.0
    local_connectivity = 1
    repulsion_strength = 1
    negative_sample_rate = 5
    fast_sgd = 0
  }
  /*
   * -----------------------------------------------------------------------------
   * scflow - Clustering Parameters
   * -----------------------------------------------------------------------------
   */
  cluster {
    cluster_method = "leiden"
    reduction_method = "UMAP"
    res = 0.00001
    k = 100
    louvain_iter = 1
  }
  /*
   * -----------------------------------------------------------------------------
   * scflow - Celltype Annotation Parameters - EWCE
   * -----------------------------------------------------------------------------
   */
  mapct {
    ctd_folder = "${baseDir}/refs/ctd"
    clusters_colname = "clusters"
    cells_to_sample = 10001
  }
  /*
   * -----------------------------------------------------------------------------
   * scflow - Differential Gene Expression Parameters
   * -----------------------------------------------------------------------------
   */
  perform_de {
    de_method = ["MASTZLM"]
    min_counts = 1
    min_cells_pc = 0.10
    rescale_numerics = 1
    dependent_var = "group"
    ref_class = "Control"
    confounding_vars = ["cngeneson", "sex", "age", "PMI", "RIN", "seqdate", "pc_mito"]
    random_effects_var = null
    fc_threshold = 1.1
    pval_cutoff = 0.05
  }
} 
