/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/scflow -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  //max_cpus = 2
  //max_memory = 6.GB
  //max_time = 48.h

  samplesheet = "https://raw.githubusercontent.com/nf-core/test-datasets/scflow/refs/SampleSheet.tsv"
  input = "https://raw.githubusercontent.com/nf-core/test-datasets/scflow/refs/Manifest.txt"
  ensembl_mappings = "https://raw.githubusercontent.com/nfancy/test-datasets/scflow/assets/ensembl_mappings.tsv"
  ctd_path = "https://s3-eu-west-1.amazonaws.com/pfigshare-u-files/28033407/ctd_v1.zip"
  reddim_genes_yml = "https://raw.githubusercontent.com/nf-core/test-datasets/scflow/refs/reddim_genes.yml"
  
  reddimplot_pointsize = 0.5
  reddimplot_alpha = 1


}
